.container {
  text-align: center;
  padding: 2rem 0;
}

.container h2,
.container h3 {
  margin: 1rem 0;
}

.markdownContainer {
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 2rem;
  max-width: 80%;
  margin: 2rem auto;

  text-align: left;
}

.markdownContainer p,
.markdownContainer h1 {
  margin: 1rem 0;
}

.btn {
  background-color: var(--white);
  border: 1px solid var(--accent-color);
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: var(--accent-color);
  box-shadow: var(--shadow);
}

.btn {
  border-radius: 15px;
  border-width: 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--white);
  transition: var(--transition);
}

.btn:focus-visible {
  outline: none;
}
