.container {
  text-align: center;
  padding: 2rem 0;
}

.container h2,
.container h3 {
  margin: 1rem 0;
}

.markdownContainer {
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 2rem;
  max-width: 80%;
  margin: 2rem auto;

  text-align: left;
}

.markdownContainer p,
.markdownContainer h1 {
  margin: 1rem 0;
}
